<form action="/user/new" method="post">
  <label>Username:</label>
  <input type="text" value="" name="name">
  <label>Email:</label>
  <input type="email" value="" name="email">
  <label>Password:</label>
  <input type="text" value="" name="password">
  <input type="submit" value="Register">
</form>